body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: black;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    height: 70x;
    width: auto;

}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    background-color: black;
    text-decoration: none;
}

main {
    padding: 20px;
}

footer {
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 10px;
}

.intro {
    text-align: center;
}

.intro h1 {
    font-size: 2em;
}

.intro p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.intro a {
    background-color: black;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
}

.intro a:hover {
    background-color: black;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    padding: 20px;
}

h2 {
    text-align: center;
}

th {
    padding: 10px;
}

td {
    padding: 10px;
}

.image-container img {
    width: 100%;
    height: auto;
    max-width: 300px;
    /* maximum width */
    max-height: 300px;
    /* maximum height */
}

.container {
    max-height: 100vh;
    overflow-y: auto;
}

.logout_button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: black;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}



/* Aligning the form with other nav items */
.logout_form {
    display: inline;

}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f3f3f3;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    background-color: black;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    height: 70px;
    width: auto;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 400px;
    width: 100%;
}

.login-form h1 {
    text-align: center;
    margin-bottom: 20px;
}

.login-form label {
    display: block;
    margin-bottom: 10px;
}

.login-form input[type="text"],
.login-form input[type="password"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-form input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: black;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-form input[type="submit"]:hover {
    background-color: black;
    color: white;
}

footer {
    flex-shrink: 0;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 10px;
}

.navbar-nav .dropdown-menu {
    position: absolute;
    background-color: black;
    color: white;
}